
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	border-left:5px solid green;
	padding:5px;
	font-size:20px;
	
}
.heading{
	padding:5px;
	font-size:20px;
	color:white;
	text-decoration:underline;
}